$def with (user, show_admin_link)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/semantic.min.css">
  <script src="/static/js/jquery-3.1.0.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <title>Home page</title>
  <style type="text/css">
body {
  background-color: #DADADA;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  margin-top: 7em;
}
form {
  display: inline;
  margin-left: 2em;
}
  </style>
</head>
<body>

<!-- Header Menu -->
<div class="ui fixed menu">
  <div class="ui container">
    <a href="/" class="header item">
      <img class="logo" src="static/img/logo.png">
    </a>
    <div class="ui simple float right dropdown item">
      <i class="user icon"></i>
      $user['name']
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" href="/logout">Log out</a>
        <a class="item" href="/changepassword">Change password</a>
      </div>
    </div>
  </div>
</div>

<!-- User info -->
<div class="ui main text container">
  <h1 class="ui header">You are logged in as $user['name'].title().</h1>
  $if show_admin_link:
    <div class="ui info message">
      <a href="/admin">Click here for admin controls</a>
    </div>
  <div class="ui segments">
    <div class="ui green segment">
      $if user['subscriptions'] or user['apps']:
        <p>You have access to:</p>
        <ul>
          $if user['subscriptions']:
            $for sub in user['subscriptions']:
              $if sub['status'] == 'active':
                $if 'default_redirect_uri' in sub and len(sub['default_redirect_uri']) > 0:
                  <li><a href="$sub['default_redirect_uri']">$sub['nicename']</a>
                $else:
                  <li>$sub['nicename']
                <form method="POST" action="/">
                  <input type="hidden" name="disable_sub", value="$sub['subscription_id']">
                  <button class="ui compact basic button" type="submit">Deactivate</button>
                </form></li>
              $else:
                <li><span class="disabled">$sub['nicename']</span>
                  <form method="POST" action="/">
                    <input type="hidden" name="enable_sub", value="$sub['subscription_id']">
                    <button class="ui compact basic button" type="submit">Reactivate</button>
                  </form>
                </li>
          $if user['apps']:
            $for app in user['apps']:
              $if 'default_redirect_uri' in app and len(app['default_redirect_uri']) > 0:
                <li><a href="$app['default_redirect_uri']">$app['nicename']</a>
              $else:
                <li>$app['nicename']</li>
        </ul>
      $else:
        <p>You are not connected to any apps.</p>
    </div>
    $if user['apps']:
      <div class="ui blue segment">
        <p>You have are owner of:</p>
        <ul>
          $for app in user['apps']:
            <li>$app['nicename']
              <ul>
                <li>client_id: $app['app_id']</li>
                <li>client_secret: $app['secret_key']</li>
              </ul>
            </li>
        </ul>
      </div>
    <div class="ui red segment">
      <a href="/logout">Logout</a>
    </div>
  </div>
</div>

</body>
</html>