# To edit values locally, duplicate this file and name it "config" then edit that new file.

[db]
#db_url=postgres://james:day@serverfarm.example.net/mygreatdb   ;defaults to sqlite:///tmp/rioauth/provider.db

[ssl]
#use_ssl = True                                                 ;defaults to False
#test_ssl_cert = localhost.crt
#test_ssl_key = localhost.key

[email]
#from_address                                                   ;defaults to noreply@example.com


[smtp]
server = smtp.example.com
port = 587
username = from_address@example.com
password = TopSecretPassword
starttls = True

[debug]
#debug = True                                                  ;defaults to False

[profiles]
adminmail = admin@headquarters.com
adminpass = secret_password

[path]
base_url=

[github]
client_id =
client_secret =
authorization_url = https://github.com/login/oauth/authorize
token_url = https://github.com/login/oauth/access_token
resource_url = https://api.github.com/user/public_emails
request_scope = user:email
redirect_uri = https://auth.riolet.com/login_github
login_uri = https://auth.riolet.com/login


